.profile__avatar {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url('../../../assets/avatar.jpg');
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__avatar:hover {
  opacity: 0.3;
  cursor: url("../../../assets/pencil.svg"), pointer;
}

@media screen and (max-width: 740px) {
  .profile__avatar {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__avatar {
    margin-right: 0;
  }
}